<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.els.jewellery.manage.modular.geminfo.dao.BatchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.els.jewellery.manage.modular.geminfo.entity.Batch">
		<id column="ID" property="id" />
		<result column="BATCH_CODE" property="batchCode" />
		<result column="BATCH_REMARL" property="batchRemarl" />
		<result column="CREAT_TIME" property="creatTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="IS_ENABLE" property="isEnable" />
		<result column="SERIAL_NUMBER" property="serialNumber" />
		<result column="CLIENT_NAME" property="clientName" />
		<result column="CLIENT_PHONE" property="clientPhone" />
		<result column="GEM_NUM" property="gemNum" />
		<result column="INSPECTION_TIME" property="inspectionTime" />
		<result column="SAMPLING_TIME" property="samplingTime" />
		<result column="STANDARD_NAME" property="standardName" />
		<result column="RECEIVED_PHONE" property="receivedPhone" />
		<result column="CLIENT_ASK" property="clientAsk" />
	</resultMap>
	
	<select id="selectMaxNum" resultType="java.lang.String">
		SELECT MAX(SERIAL_NUMBER) FROM T_BASE_BATCH
	</select>
	
	<select id="getBatchList" resultMap="BaseResultMap" parameterType="com.baomidou.mybatisplus.plugins.Page">
		SELECT * FROM T_BASE_BATCH T WHERE T.IS_ENABLE = 1
        <if test="beginTime != null and beginTime !=''">
            and T.CREAT_TIME &gt;= CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime !=''">
            and T.CREAT_TIME &lt;= CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="batchCode != null and batchCode !=''">
            and T.BATCH_CODE = #{batchCode}
        </if>
        <choose>
            <when test="orderByField != null and orderByField !=''">
                <choose>
                    <when test="isAsc == true">
                        order by T.${orderByField} ASC
                    </when>
                    <otherwise>
                        order by T.${orderByField} DESC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by T.CREAT_TIME DESC
            </otherwise>
        </choose>
	
    </select>

</mapper>
