<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.els.jewellery.manage.modular.geminfo.dao.ReportcodeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.els.jewellery.manage.modular.geminfo.entity.Reportcode">
		<id column="ID" property="id" />
		<result column="REPORT_CODE" property="reportCode" />
		<result column="BATCH_ID" property="batchId" />
		<result column="SERIAL_NUMBER" property="serialNumber" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="IS_ENABLE" property="isEnable" />
	</resultMap>
	
	<select id="selectMaxNum" resultType="java.lang.String">
		SELECT MAX(SERIAL_NUMBER) FROM T_BASE_REPORTCODE
	</select>

</mapper>
